{% extends 'app_blog/components/base.html' %}

{% load static %}


<!-- Page Header-->

{% block header %}

<header class="masthead" style="background-image: url('{% static 'app_blog/assets/img/dsotm.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>SOUNDS</h1>
                    <span class="subheading">If it can be listened to, it can be talked about</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}


<!-- Main Content-->

{% block main_content %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            
            <div class="post-preview">
                
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    <p class="post">{{post.post}}</p>
                
                <p class="post-meta">
                    Posted by {{post.author}} on {{ post.date_of_publication }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}


