{% extends 'base.html' %}

{% load static %}


<!-- Page Header-->

{% block header %}

<header class="masthead" style="background-image: url('{% static 'assets/img/dsotm.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>SOUNDS</h1>
                    <span class="subheading">If it can be listened to, it can be talked about</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}


<!-- Main Content-->

{% block main_content %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
           
            <!-- Post preview-->
            {% if posts %}
                {% for post in posts %}

                <div class="post-preview">
                    <div class="row" style="align-items: center">
                         <div class="col-8">
                             
                             <h2 class="post-title"><a href="{% url 'readpost' post.id %}">{{ post.title }}</a></h2>
                             <h3 class="post-subtitle" style="font-style: italic;">{{ post.subtitle }}</h3>
                             
                             <div class="post-preview">
                                 <p class="post-meta" style="margin-bottom: 0;">
                                     Posted by {{post.author}} on {{ post.date_of_publication }}
                                 </p>
                             </div>
                         </div>     
                         <div class="col-4">
                             {% if post.image %}
                                 <img class="img-rounded" src="{{ post.image.url }}" width="150px">  
                             {% endif %}
                         </div>     
                     </div>     
                     <!-- Divider-->
                     <hr class="my-4" / >
                 </div>

                {% endfor %}

            {% else %}
                <h2 class="post-title">There are no posts that match the search criteria</h2>
            {% endif %}

        </div>
    </div>
</div>

{% endblock main_content %}

