{% extends 'base.html' %}

{% load static %}


<!-- Page Header-->

{% block header %}

<header class="masthead" style="background-image: url('{% static "app_users/assets/img/walk.jpeg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 style="font-size: 45px">Goodbye</h1>
                    <span class="subheading">Hope to see you soon</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}


<!-- Main Content-->

{% block main_content %}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>You've logged out successfully! Be sure to drop by whenever you want.</p>
            </div>
        </div>
    </div>
</main>

{% endblock main_content %}


