<!DOCTYPE html>
<html lang="en">

{% include 'app_blog/components/head.html' %}
{% load static %}

    <body> 
        
        <!-- Navigation-->
        {% include 'app_blog/components/navbar.html' %}

        <!-- Page Header-->
        {% block header %}{% endblock header %}

        <!-- Main Content-->
        {% block main_content %}{% endblock main_content %}

        <!-- Footer and Core JS-->
        {% include 'app_blog/components/footer.html' %}
        {% include 'app_blog/components/corejs.html' %}
        
    </body>

</html>